spring:
  application:
    name: secure-api
  datasource:
    url: ${DB_URL:jdbc:mysql://localhost:3306/secure_api?useSSL=false&serverTimezone=UTC}
    username: ${DB_USERNAME:root}
    password: ${DB_PASSWORD:}
    driver-class-name: com.mysql.cj.jdbc.Driver
  jpa:
    hibernate:
      ddl-auto: validate
    show-sql: true
    properties:
      hibernate:
        format_sql: true
        dialect: org.hibernate.dialect.MySQL8Dialect
  mail:
    host: ${MAIL_HOST}
    port: ${MAIL_PORT}
    username: ${MAIL_USER}
    password: ${MAIL_PASSWORD}
    properties:
      mail:
        smtp:
          auth: true
          starttls:
            enable: true
    from: ${MAIL_FROM}

  security:
    oauth2:
      client:
        registration:
          google:
            client-id: ${GOOGLE_CLIENT_ID}
            client-secret: ${GOOGLE_CLIENT_SECRET}
            scope: email,profile
            redirect-uri: "{baseUrl}/auth/oauth2/callback"

server:
  port: ${SERVER_PORT:8080}

# Configuración de Swagger/OpenAPI
springdoc:
  api-docs:
    path: /v3/api-docs
  swagger-ui:
    path: /swagger-ui.html
    operationsSorter: method
    tagsSorter: alpha
    doc-expansion: none
  show-actuator: true
  packages-to-scan: com.fedeherrera.spring_secure_api_starter
  default-consumes-media-type: application/json
  default-produces-media-type: application/json

# Configuración de JWT
jwt:
  secret: ${JWT_SECRET}
  expiration: ${JWT_EXPIRATION:900000} # 15 minutos
  refresh-expiration: ${JWT_REFRESH_EXPIRATION:604800000} # 7 días